//COLORS

$color-palette-primary: rgb(0, 0, 0);
$color-primary: rgb(35, 39, 42);
$color-secondary: rgb(44, 47, 51);
$color-tertiary: rgb(85, 108, 190);
$color-font-primary: rgb(255, 255, 255);



// FONTS

$font-primary: 'Major Mono Display', sans-serif;

$test: rgb(15, 162, 169);