@import '../abstract/_variables.scss';


#pixel-board{
    margin: 3rem 1rem;


    .line{
        max-width: 210px;
        background: white;
        display: flex;
        margin: 0 auto;
    }

    .pixel{
        height: 40px;
        width: 40px;
        background: white;
        border: 1px solid black;
    }

}